@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,400&display=swap");

body {
  background-color: var(--background);
}

.title {
  font-family: "Roboto", sans-serif;
  color: var(--text-primary);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

*:not(span) {
  animation: fadein 1s;
}

.clean-link {
  text-decoration: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 630px) {
  .title {
    font-size: 96px;
  }
}

@media screen and (max-width: 630px) {
  .title {
    font-size: 52px;
  }
}
