.fix-styles {
  height: 60px;
  background-color: white !important;
  color: var(--text-color-title);
  box-shadow: none !important;
}

.menu-link {
  color: var(--text-color-title) !important;
  font-size: 30px;
}

.menu-link a {
  width: 150px;
  text-align: center;
}

.flex-config {
  flex-direction: row !important;
  justify-content: center !important;
}
