@media screen and (min-width: 630px) {
  .fix-size {
    min-width: 300px;
    width: 70%;
  }
}

@media screen and (max-width: 630px) {
  .fix-size {
    max-width: 100vw;
    min-width: 100vw;
  }
}

.bg {
  background: var(--secondary-bg);
  text-shadow:var(--text-shadow-body);
}
